.mainDiv {
  margin: auto;
  width: 50%;
  height: 100vh;
  padding: 10px;
}

.ingredientBox {
  display: grid;
  grid-template-columns: repeat(2, 25%);
}

.displayGrid {
  display: grid;
  grid-template-columns: repeat(2, 25%);
}
